/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: papayawhip;
}

header {
  background-color: orange;
}

.section-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.section-item {
  border: 1px solid #fff;
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

#farming {
  background-color: lightblue;
  border: 1px solid #fff;
}

#animals {
  background-color: pink;
  border: 1px solid #fff;
  
}

#artisan {
  background-color: greenyellow;
  border: 1px solid #fff;
}

footer {
  background-color: orchid;
}

address {
  color: red;
  font-family: Times;
}

#copyright {
  color: blueviolet;
}