* {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

body {
  background-color: mistyrose;
}

header {
  background-color: wheat;
}

.section-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.section-item {
  border: 1px solid #fff;
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

#farming {
  background-color: lightcyan;
  border: 1px solid rgb(0, 0, 0);
}

#animals {
  background-color: lightcoral;
  border: 1px solid rgb(0, 0, 0);
}

#artisan {
  background-color: lightblue;
  border: 1px solid rgb(0, 0, 0);
}

footer {
  background-color: orchid;
  text-align: center;
}

#bio {
  color: darkslateblue;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: darkslateblue;
  cursor: crosshair;
}

#copyright {
  color: blueviolet;
}