body {
  background-color: papayawhip;
}

header {
  background-color: lavender;
}

#farming {
  background-color: lightblue;
}

#animals {
  background-color: pink;
}

#artisan {
  background-color: greenyellow;
}

footer {
  background-color: orchid;
}

address {
  color: red;
  font-family: Times;
}

#copyright {
  color: blueviolet;
}